<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <h1>Edit Movie</h1>

      <form action="/users/<%= movie.userId %>/movies/<%= movie.id %>/update" method="post">
        <div class="form-group">
          <label for="title">Movie title</label>
          <input value="<%= movie.title %>" type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter Title">
        </div>
        <div class="form-group">
          <label for="year">Movie Year</label>
          <textarea rows="1" class="form-control" name="year" placeholder="Enter Description"><%= movie.year %></textarea>
        </div>
        <div class="form-group">
            <label for="director">Movie Director</label>
            <textarea rows="1" class="form-control" name="director" placeholder="Enter Description"><%= movie.director %></textarea>
          </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>

      <hr>

      <section>
          <a href="/users/<%= movie.userId %>" class="btn btn btn-sm btn-dark">Back</a>
      </section>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>