<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <h1><%= `${user.email}'s Movie Page!` %></h1>

      <hr>

      <section class="col-lg-4">
        <p class="card-text">Click on the button below to add movies to your personalized movie list.</p>
        <a href="/users/<%= user.id %>/movies/new" class="btn btn-primary">New Movie</a> 
      </section>

      <hr>

      <h1>Movie List</h1>

      <hr>

      <section class="row">

        <section class="col-sm-2">
          <h4 class="display text-left">Title:</h4>
        </section>

        <section class="col-sm-2">
          <h4 class="display text-left">Year:</h4>
        </section>

        <section class="col-sm-2">
          <h4 class="display text-left">Director:</h4>
        </section>

      </section>

    <hr>

      <section class="list-group"> 
        <% user.movies.forEach((movie) => { %>
          
        <section class="row">
        
          <section class="col">
            <h5><%= movie.title %></h5>   
          </section>

          <section class="col">
            <p class="card-title"><%= movie.year %></p>
          </section>
        
          <section class="col">
            <p class="card-title"><%= movie.director %></p> 
          </section>

          <section class="col">
            <a href="/users/<%= movie.userId %>/movies/<%= movie.id %>/show" class="btn btn-outline-secondary">Review</a> 
          </section>

          <section class="col-sm-1">
            <a href="/users/<%= movie.userId %>/movies/<%= movie.id %>/edit" class="btn btn-dark">Edit</a>
          </section>

          <section class="col-sm-1">
            <form style="display:initial" action="/users/<%= movie.userId %>/movies/<%= movie.id %>/destroy" method="post">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </section>

        </section>

      </section>
        
        <% }) %> 

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>

