<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <h1><%= `${user.email}'s Movie Page!` %></h1>

      <hr>

      <section class="col-lg-4">
        <h1 class="card-title">Movies</h1>
        <p class="card-text">Click on the button below to add movies to your personalized movie list.</p>
        <a href="/users/<%= user.id %>/movies/new" class="btn btn-primary">New Movie</a> 
      </section>

      <hr>

      <h1>Movie List</h1>

      <hr>

      <ul class="list-group">
        <% user.movies.forEach((movie) => { %>
          <li class="list-group-item">
           <a href="/users/<%= user.id %>/movies/<%= movie.id %>"> <%= movie.title %> </a>
          </li>
        <% }) %>
      </ul>

      <hr>

      
        <h1><%= movie.title %></h1>

          <a href="/users/<%= movie.userId %>/movies/<%= movie.id %>/edit" class="btn btn-warning">Edit</a>
        
          <form style="display:initial" action="/users/<%= movie.userId %>/movies/<%= movie.id %>/destroy" method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
  
        <p><%= movie.year %></p>

        <p><%= movie.director %></p>


    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>

