<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <h1><%= `${user.email}'s Movie Page!` %></h1>

      <hr>

      <section class="col-lg-4">
        <h1 class="card-title">Movies</h1>
        <p class="card-text">Click on the button below to add movies to your personalized movie list.</p>
        <a href="/users/<%= user.id %>/movies/new" class="btn btn-primary">New Movie</a> 
      </section>

      <hr>

      <h1>Movie List</h1>

      <hr>

      <section class="row text-center"></section>

      <ul class="list-group"> 
        <% user.movies.forEach((movie) => { %>  
          
        <section class="col-lg-4">
            <h2 class="card-title">Title:</h2>
            <h4><%= movie.title %></h4>   

        <a href="/users/<%= movie.userId %>/movies/<%= movie.id %>/edit" class="btn btn-danger">Edit</a>
        
          <form style="display:initial" action="/users/<%= movie.userId %>/movies/<%= movie.id %>/destroy" method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </section>

        <section class="col-lg-4">
        <p><%= movie.year %></p>
      </section>
        
        <section class="col-lg-4">
        <p><%= movie.director %></p> 
      </section>
        
        <% }) %> 
      </ul> 

      </section>



          <section class="col-lg-4">
            <h4 class="card-title">Evaluate Movies</h4>
            <p class="card-text">Review, rate, and rank all of your favorite (and not so favorite) movies.</p>
          </section>
      
        
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>

